<%= turbo_frame_tag 'modal' do %>
  <div class="modal">
    <h1>Editar Tarefa</h1>

    <%= render 'form' %>

    <%= link_to 'Voltar', tasks_path, data: {
      controller: 'modals',
      action: "modals#close"
    }, class: 'cancel-button' %>
  </div>
<% end %>
